/* Navbar */

.navbar-color {
    background-color: #AEDADD;
}

.nav-brand {
    color: #B0632E;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 26px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-text {
    color: #B0632E;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.rel-pos {
    color: #B0632E;
    position: relative;
    top: 11px;
}

/* Banner */

.landing-banner {
    display: flex;
    background-color: #F5DFC2;
    height: 648px;
    position: relative;
    text-align: center;
}

.brown-rec-1 {
    position: absolute;
    border-width: 648px 0 0 400px;
    border-style: solid;
    border-color: transparent transparent transparent #B0632E;
}

.sky-rec-1 {
    position: absolute;
    left: 0px;
    bottom: 0;
    border-width: 810px 0 0 500px;
    border-style: solid;
    border-color: transparent transparent transparent #AEDADD;
}

.brown-rec-2 {
    position: absolute;
    right: 0px;
    border-width: 0 400px 648px 0;
    border-style: solid;
    border-color: transparent #B0632E transparent transparent;
}

.sky-rec-2 {
    position: absolute;
    top: 0;
    right: 0px;
    border-width: 0 500px 810px 0;
    border-style: solid;
    border-color: transparent #AEDADD transparent transparent;
}

.landing-text {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 100px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.landing {
    margin: auto;
}

.landing-button {
    background: #B0632E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 42px;
    border-style: none;
    color: white;
    font-size: 40px;
    padding: 10px 40px;
    margin-top: 20px;
}

.landing-img{
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 400px;
}

/* Landing Form */

.landing-form {
    position: relative;
    background-color: #F5DFC2;
    padding: 100px;
}

.form{
    background-color: #AEDADD;
    margin: 0 10%;
    padding: 5% 10%;
    border-radius: 42px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.centered-text{
    text-align: center;
}

.form-button {
    background: #B0632E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 42px;
    border-style: none;
    color: white;
    font-size: 30px;
    padding: 10px 40px;
    margin-top: 20px;
}